<ion-view title="Events - Search - Hor or Not" hide-nav-bar="true" id="page7">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="eventsSearchHorOrNot-button-bar4" class="button-bar">
      <a ui-sref="tabsController.eventsPopular()" id="eventsSearchHorOrNot-button20" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-android-globe">Popular</a>
      <a ui-sref="tabsController.eventsPopular()" id="eventsSearchHorOrNot-button21" style="font-weight:300;font-size:12px;" class="button button-positive button-block icon-left ion-android-home">Home</a>
      <button id="eventsSearchHorOrNot-button22" style="font-weight:600;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-calm button-block icon-left ion-ios-search-strong">Search</button>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="eventsSearchHorOrNot-slider2" style="width:100%;height:85%;">
      <ion-slide-page id="eventsSearchHorOrNot-slide2292" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <a class="list card" style="display:block;text-decoration:none;" ui-sref="eventsSearchHoNSlide1()" id="eventsSearchHorOrNot-card22">
          <ion-item class="balanced" id="eventsSearchHorOrNot-list-item9">Prevent suicide - fundraising</ion-item>
          <div class=" item item-image">
            <a style="display:block;" ui-sref="eventsSearchHoNSlide1()">
              <img src="img/jYGiUF1uTCG4KFoV5DFy_depression.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
            </a>
          </div>
          <div class="item item-body" id="eventsSearchHorOrNot-list-item-container4">
            <div id="eventsSearchHorOrNot-markdown11" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">April 12, 6:30 PM
                <br>Davio's Northern Italian Steakhouse</p>
            </div>
          </div>
          <ion-item class="item-icon-left positive" id="eventsSearchHorOrNot-list-item10">
            <i class="icon ion-android-map"></i>Check the location</ion-item>
        </a>
      </ion-slide-page>
      <ion-slide-page id="eventsSearchHorOrNot-slide2293" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <a class="list card" style="display:block;text-decoration:none;" ui-sref="eventsSearchHoNSlide2()" id="eventsSearchHorOrNot-card23">
          <ion-item class="balanced" id="eventsSearchHorOrNot-list-item13">Together Forever Beef &amp; Beer</ion-item>
          <div class=" item item-image">
            <a style="display:block;" ui-sref="eventsSearchHoNSlide2()">
              <img src="img/RzujDuDkS1yS4WpXZYk3_Together_Forever_Beef__Beer.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
            </a>
          </div>
          <div class="item item-body" id="eventsSearchHorOrNot-list-item-container6">
            <div id="eventsSearchHorOrNot-markdown13" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">April 12 - 7:00 PM
                <br>Masso's Catering</p>
            </div>
          </div>
          <ion-item class="item-icon-left positive" id="eventsSearchHorOrNot-list-item14">
            <i class="icon ion-android-map"></i>Check the location</ion-item>
        </a>
      </ion-slide-page>
      <ion-slide-page id="eventsSearchHorOrNot-slide2294" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
        <a class="list card" style="display:block;text-decoration:none;" ui-sref="eventsSearchHoNSlide3()" id="eventsSearchHorOrNot-card24">
          <ion-item class="energized" id="eventsSearchHorOrNot-list-item15">Friends of Neighborhood Education (FONE)</ion-item>
          <div class=" item item-image">
            <a style="display:block;" ui-sref="eventsSearchHoNSlide3()">
              <img src="img/niGax9L9TMOXGrRsMFI7_hands.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
            </a>
          </div>
          <div class="item item-body" id="eventsSearchHorOrNot-list-item-container7">
            <div id="eventsSearchHorOrNot-markdown14" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Apr 13 - 8:30 AM
                <br>The Spirit of Philadelphia</p>
            </div>
          </div>
          <ion-item class="item-icon-left positive" id="eventsSearchHorOrNot-list-item16">
            <i class="icon ion-map"></i>Check the location</ion-item>
        </a>
      </ion-slide-page>
    </ion-slides>
    <button id="eventsSearchHorOrNot-button182" class="button button-energized button-small button-block bottom0"> What is that</button>
  </ion-content>
</ion-view>