<ion-view title="Events - Popular" hide-nav-bar="true" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="eventsPopular-button-bar2" class="button-bar">
      <button id="eventsPopular-button10" style="font-weight:600;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-calm button-block icon-left ion-android-globe">Popular</button>
      <a ui-sref="tabsController.eventsDashboard()" id="eventsPopular-button11" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-android-home">Home</a>
      <a ui-sref="tabsController.eventsSearch()" id="eventsPopular-button12" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-search-strong">Search</a>
    </div>
    <ion-list id="eventsPopular-list6" class="bottom-menu">
      <div class="item item-body header-container" id="eventsPopular-list-item-container9">
        <div id="eventsPopular-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FFF;">
            <strong>COMPANIES THAT CHANGE THE WORLD!</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-thumbnail-left item-icon-right energized" id="eventsPopular-list-item12" ui-sref="tabsController.eventsPopularUnitedNations()">
        <img src="img/2giB5i4vQbic4JzATbrg_United_Nations_logo.jpg">
        <h2energized>United Nations
          <p style="white-space:normal;">Tasked to maintain international peace and security ...</p>
          <i class="icon ion-android-arrow-dropright-circle icon-accessory"></i>
        </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="eventsPopular-list-item19" ui-sref="tabsController.eventsPopularGreatOrchestra()">
        <img src="img/6En0P3NaTFKUI5wjzoKF_Great_Orchestra_of_christmas.jpg">
        <h2>Great Orchestra</h2>
        <p style="white-space:normal;">Improving medical care offered to the youngest patients ...</p>
        <i class="icon ion-android-arrow-dropright-circle icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="eventsPopular-list-item20" ui-sref="tabsController.eventsPopular412food()">
        <img src="img/JOMQHc3VTU2Wr6q9sr50_412foodrescue.jpg">
        <h2>412foodrescue</h2>
        <p style="white-space:normal;">Critical Issue Fund grantee organization 412 Food Rescue ...</p>
        <i class="icon ion-android-arrow-dropright-circle icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="eventsPopular-list-item23" ui-sref="tabsController.eventsPopularFoodWate()">
        <img src="img/t4gaHNIRSTSiMYtPLUHA_food_for_the_poor.jpg">
        <h2>Food for the poor</h2>
        <p style="white-space:normal;">Help families in need by providing food, housing, emergency ...</p>
        <i class="icon ion-android-arrow-dropright-circle icon-accessory"></i>
      </ion-item>
    </ion-list>
    <button id="eventsPopular-button75" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom-fixed"> What is that</button>
  </ion-content>
</ion-view>