<ion-view title="Events - Popular - 412food" hide-nav-bar="true" id="page19">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="eventsPopular412food-button-bar13" class="button-bar">
      <button id="eventsPopular412food-button47" style="font-weight:600;font-size:12px;" class="button button-positive button-block">Popular</button>
      <a ui-sref="tabsController.eventsDashboard()" id="eventsPopular412food-button48" style="font-weight:300;font-size:12px;" class="button button-positive button-block">Dashboard</a>
      <a ui-sref="tabsController.eventsSearch()" id="eventsPopular412food-button49" style="font-weight:300;font-size:12px;" class="button button-positive button-block">Search</a>
    </div>
    <div>
      <img src="img/tzVFMslR36WYt3Wjj5I1_united_nations.jpg" style="display: block; width: 25%; height: 25%; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="eventsPopular412food-heading21" style="color:#000000;text-align:center;">United Nations</h4>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider8" delegate-handle="slider8" id="eventsPopular412food-slider8" style="width:100%;height:40%;">
      <ion-slide-page id="eventsPopular412food-slide220" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#50778D;">
        <div id="eventsPopular412food-markdown20" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="eventsPopular412food-slide221" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="eventsPopular412food-video5">
          <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
      </ion-slide-page>
    </ion-slides>
    <a ui-sref="tabsController.eventsPopular()" id="eventsPopular412food-button50" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>