<ion-view title="Events - Dashboard" hide-nav-bar="true" id="page4">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="eventsDashboard-button-bar1" class="button-bar">
      <a ui-sref="tabsController.eventsPopular()" id="eventsDashboard-button4" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-android-globe">Popular</a>
      <button id="eventsDashboard-button5" style="font-weight:600;font-size:12px;" class="button button-calm button-block icon-left ion-android-home">Start</button>
      <a ui-sref="tabsController.eventsSearch()" id="eventsDashboard-button6" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-search">Search</a>
    </div>
    <div class="spacer" style="width: 320px; height: 5px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="eventsDashboard-slider1" style="width:100%;height:83%;" class="padding15">
      <ion-slide-page id="eventsDashboard-slide24">
        <h3 id="eventsDashboard-heading5" style="color:#FFFFFF;font-weight:600;text-align:center;" class="header-container">INTERNATIONAL DAY</h3>
        <h3 id="eventsDashboard-heading2" style="color:#FFFFFF;font-weight:600;text-align:center;" class="description-container">STREET CHILDREN</h3>
        <h4 id="eventsDashboard-heading1" style="color:#FFFFFF;text-align:center;" class="date-container">12 April 2019</h4>
        <div id="eventsDashboard-markdown6" style="text-align:center;" class="show-list-numbers-and-dots text-container">
          <p style="color:#FFFFFF;">International Day for Street Children is a special day recognising the strength and resilience of millions of street children around the world. Celebrated globally since 2012, it is our opportunity to recognise their humanity, dignity and defiance
            in the face of unimaginable hardships. We want to rally governments and individuals worldwide to work together to ensure their rights are protected.</p>
        </div>
        <button id="eventsDashboard-button177" style="font-weight:300;font-size:12px;" class="button button-positive button-block icon-right ion-android-more-horizontal bottom30">Get more informations about this event</button>
      </ion-slide-page>
      <ion-slide-page id="eventsDashboard-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <h3 id="eventsDashboard-heading4" style="color:#FFFFFF;font-weight:600;text-align:center;" class="header-container">UPCOMING EVENT</h3>
        <div id="eventsDashboard-container1">
          <h3 id="eventsDashboard-heading6" style="color:#FFFFFF;font-weight:600;text-align:center;" class="description-container">BUILDING BRIDGES</h3>
        </div>
        <h4 id="eventsDashboard-heading43" style="color:#FFFFFF;text-align:center;" class="date-container">16 April 2019</h4>
        <div id="eventsDashboard-markdown3" style="text-align:center;" class="show-list-numbers-and-dots text-container">
          <p style="color:#FFFFFF;">
            <strong>Sunday Suppers</strong> enhances the overall health and wellness of families through the transformative power of family meals, serving low-income neighborhoods in
            <strong>Philadelphia – a city with the highest rate of poverty and food insecurity among the 10 largest cities in the U.S.</strong>
          </p>
        </div>
        <button id="eventsDashboard-button183" style="font-size:12px;" class="button button-positive button-block icon-right ion-android-more-horizontal bottom30">Get more informations about this event</button>
      </ion-slide-page>
      <ion-slide-page id="eventsDashboard-slide29" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <h3 id="eventsDashboard-heading12" style="color:#FFFFFF;font-weight:600;text-align:center;" class="header-container">MEET YOUR FRIENDS ON</h3>
        <h3 id="eventsDashboard-heading7" style="color:#FFF;font-weight:600;text-align:center;" class="description-container">BUILDING BRIDGES</h3>
        <h4 id="eventsDashboard-heading8" style="color:#FFF;text-align:center;" class="date-container">16 April 2019</h4>
        <div id="eventsDashboard-markdown7" style="text-align:center;" class="show-list-numbers-and-dots text-container">
          <p style="color:#000000;">
            <strong>Sunday Suppers</strong> enhances the overall health and wellness of families through the transformative power of family meals, serving low-income neighborhoods in
            <strong>Philadelphia – a city with the highest rate of poverty and food insecurity among the 10 largest cities in the U.S.</strong>
          </p>
        </div>
      </ion-slide-page>
    </ion-slides>
    <button id="eventsDashboard-button74" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</button>
  </ion-content>
</ion-view>