<ion-view title="Events - Search - HoN - Slide1" hide-nav-bar="true" id="page8">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="eventsSearchHoNSlide1-button-bar5" class="button-bar">
      <a ui-sref="tabsController.eventsPopular()" id="eventsSearchHoNSlide1-button26" style="font-weight:300;font-size:12px;" class="button button-positive button-block icon-left ion-android-globe">Popular</a>
      <a ui-sref="tabsController.eventsDashboard()" id="eventsSearchHoNSlide1-button27" style="font-weight:300;font-size:12px;" class="button button-positive button-block icon-left ion-android-home">Home</a>
      <button id="eventsSearchHoNSlide1-button28" style="font-weight:600;font-size:12px;" class="button button-positive button-block icon-left ion-ios-search-strong">Search</button>
    </div>
    <div class="spacer" style="width: 320px; height: 33.9983px;"></div>
    <div id="eventsSearchHoNSlide1-markdown8" style="text-align:center;" class="show-list-numbers-and-dots description-container padding">
      <p style="color:#FFFFFF;">Together Forever is a non-profit organization that host an annual beef and beer to raise money for individuals and families in our community that are battling cancer. This is our 5th annual beef and beer and we plan on continuing the tradition for
        many years to come. We appreciate everyone's support and generous donations. Food, Beer (as well as cash bar), Music, Basket Auction &amp; More. If you cannot attend but would like to donate please click the link and for ticket type click donation.
        If you have any questions feel free to reach out to Jacob Yates (856)889-6609 or Jake13730@gmail.com</p>
    </div>
    <button id="eventsSearchHoNSlide1-button185" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block bottom30">Back</button>
    <button id="eventsSearchHoNSlide1-button184" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</button>
  </ion-content>
</ion-view>