<ion-view title="Events - Popular - Food Wate" hide-nav-bar="true" id="page18">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="eventsPopularFoodWate-button-bar12" class="button-bar">
      <button id="eventsPopularFoodWate-button43" style="font-weight:600;font-size:12px;" class="button button-positive button-block">Popular</button>
      <a ui-sref="tabsController.eventsDashboard()" id="eventsPopularFoodWate-button44" style="font-weight:300;font-size:12px;" class="button button-positive button-block">Dashboard</a>
      <a ui-sref="tabsController.eventsSearch()" id="eventsPopularFoodWate-button45" style="font-weight:300;font-size:12px;" class="button button-positive button-block">Search</a>
    </div>
    <div>
      <img src="img/tzVFMslR36WYt3Wjj5I1_united_nations.jpg" style="display: block; width: 25%; height: 25%; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="eventsPopularFoodWate-heading20" style="color:#000000;text-align:center;">United Nations</h4>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider7" delegate-handle="slider7" id="eventsPopularFoodWate-slider7" style="width:100%;height:60%;">
      <ion-slide-page id="eventsPopularFoodWate-slide218" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#50778D;">
        <div id="eventsPopularFoodWate-markdown19" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="eventsPopularFoodWate-slide219" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div ng-init="videourl_video4=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="eventsPopularFoodWate-video4">
          <iframe src="{{videourl_video4}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
      </ion-slide-page>
    </ion-slides>
    <a ui-sref="tabsController.eventsPopular()" id="eventsPopularFoodWate-button46" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>