<ion-view title="Food - Advice - Spaghetti - prices" hide-nav-bar="true" id="page35">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodAdviceSpaghettiPrices-button-bar30" class="button-bar nomargin">
      <a ui-sref="tabsController.foodYourList()" id="foodAdviceSpaghettiPrices-button139" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline nomargin">Your list</a>
      <button id="foodAdviceSpaghettiPrices-button140" style="font-weight:600;font-size:12px;" class="button button-calm button-block icon-left ion-android-apps nomargin">Advice</button>
      <a ui-sref="tabsController.foodChances()" id="foodAdviceSpaghettiPrices-button141" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell nomargin">Chances</a>
    </div>
    <a ui-sref="tabsController.foodTips()" id="foodAdviceSpaghettiPrices-button179" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block icon ion-android-attach"> Tips</a>
    <h5 id="foodAdviceSpaghettiPrices-heading39" style="color:#000000;"></h5>
    <h4 id="foodAdviceSpaghettiPrices-heading40" style="color:#000000;text-align:center;">Prices</h4>
    <ion-list id="foodAdviceSpaghettiPrices-list18">
      <ion-item id="foodAdviceSpaghettiPrices-list-item72">Eggs
        <span class="item-note">8 pieces</span>
      </ion-item>
      <ion-item id="foodAdviceSpaghettiPrices-list-item73">Grain flour tortillas
        <span class="item-note">4 pieces</span>
      </ion-item>
      <ion-item id="foodAdviceSpaghettiPrices-list-item74">Black beans
        <span class="item-note">1 cup</span>
      </ion-item>
      <ion-item id="foodAdviceSpaghettiPrices-list-item76">Fresh cilantro
        <span class="item-note">30 mL</span>
      </ion-item>
      <ion-item id="foodAdviceSpaghettiPrices-list-item77">Cheddar cheese
        <span class="item-note">125 mL</span>
      </ion-item>
      <ion-item id="foodAdviceSpaghettiPrices-list-item78">Tomato salsa
        <span class="item-note">125 mL</span>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.foodAdviceWIT()" id="foodAdviceSpaghettiPrices-button142" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</a>
    <a ui-sref="tabsController.foodAdvice()" id="foodAdviceSpaghettiPrices-button143" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block icon ion-android-arrow-forward bottom30"> Back</a>
  </ion-content>
</ion-view>