<ion-view title="Food - Advice - Potato - ingredients" hide-nav-bar="true" id="page32">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodAdvicePotatoIngredients-button-bar27" class="button-bar nomargin">
      <a ui-sref="tabsController.foodYourList()" id="foodAdvicePotatoIngredients-button124" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline nomargin">Your list</a>
      <button id="foodAdvicePotatoIngredients-button125" style="font-weight:600;font-size:12px;" class="button button-calm button-block icon-left ion-android-apps nomargin">Advice</button>
      <a ui-sref="tabsController.foodChances()" id="foodAdvicePotatoIngredients-button126" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell nomargin">Chances</a>
    </div>
    <a ui-sref="tabsController.foodTips()" id="foodAdvicePotatoIngredients-button174" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block icon ion-android-arrow-forward"> Tips</a>
    <h5 id="foodAdvicePotatoIngredients-heading33" style="color:#000000;"></h5>
    <h4 id="foodAdvicePotatoIngredients-heading34" style="color:#000000;text-align:center;">Ingredients</h4>
    <ion-list id="foodAdvicePotatoIngredients-list13">
      <ion-item id="foodAdvicePotatoIngredients-list-item37">Eggs
        <span class="item-note">8 pieces</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoIngredients-list-item38">Grain flour tortillas
        <span class="item-note">4 pieces</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoIngredients-list-item39">Black beans
        <span class="item-note">1 cup</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoIngredients-list-item41">Fresh cilantro
        <span class="item-note">30 mL</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoIngredients-list-item45">Cheddar cheese
        <span class="item-note">125 mL</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoIngredients-list-item57">Tomato salsa
        <span class="item-note">125 mL</span>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.foodAdviceWIT()" id="foodAdvicePotatoIngredients-button127" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</a>
    <a ui-sref="tabsController.foodAdvice()" id="foodAdvicePotatoIngredients-button128" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block icon ion-android-arrow-forward bottom30"> Back</a>
  </ion-content>
</ion-view>