<ion-view title="Food - Tips - WIT" hide-nav-bar="true" id="page39">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodTipsWIT-button-bar34" class="button-bar nomargin">
      <a ui-sref="tabsController.foodYourList()" id="foodTipsWIT-button161" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline nomargin">Your list</a>
      <button id="foodTipsWIT-button162" style="font-weight:lighter;font-size:12px;" class="button button-positive button-block icon-left ion-android-apps nomargin">Advice</button>
      <a ui-sref="tabsController.foodChances()" id="foodTipsWIT-button163" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell nomargin">Chances</a>
    </div>
    <a ui-sref="tabsController.foodTips()" id="foodTipsWIT-button171" style="font-weight:600;border-radius:0px 0px 0px 0px;" class="button button-calm button-small button-block icon ion-android-attach"> Tips</a>
    <div id="foodTipsWIT-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This panel allow you to check prices fordishe</p>
    </div>
    <a ui-sref="tabsController.foodAdvice()" id="foodTipsWIT-button164" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-small button-block icon ion-heart bottom0"> I understand</a>
  </ion-content>
</ion-view>