<ion-view title="Food - Advice - Buritto - ingredients" hide-nav-bar="true" id="page26">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodAdviceBurittoIngredients-button-bar21" class="button-bar nomargin">
      <a ui-sref="tabsController.foodYourList()" id="foodAdviceBurittoIngredients-button95" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline nomargin">Your list</a>
      <button id="foodAdviceBurittoIngredients-button96" style="font-weight:600;font-size:12px;" class="button button-calm button-block icon-left ion-android-apps nomargin">Advice</button>
      <a ui-sref="tabsController.foodChances()" id="foodAdviceBurittoIngredients-button97" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell nomargin">Chances</a>
    </div>
    <a ui-sref="tabsController.foodTips()" id="foodAdviceBurittoIngredients-button173" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block icon ion-android-attach"> Tips</a>
    <h5 id="foodAdviceBurittoIngredients-heading23" style="color:#000000;"></h5>
    <h4 id="foodAdviceBurittoIngredients-heading24" style="color:#000000;text-align:center;">Ingredients</h4>
    <ion-list id="foodAdviceBurittoIngredients-list14">
      <ion-item id="foodAdviceBurittoIngredients-list-item42">Eggs
        <span class="item-note">8 pieces</span>
      </ion-item>
      <ion-item id="foodAdviceBurittoIngredients-list-item48">Grain flour tortillas
        <span class="item-note">4 pieces</span>
      </ion-item>
      <ion-item id="foodAdviceBurittoIngredients-list-item49">Black beans
        <span class="item-note">1 cup</span>
      </ion-item>
      <ion-item id="foodAdviceBurittoIngredients-list-item46">Fresh cilantro
        <span class="item-note">30 mL</span>
      </ion-item>
      <ion-item id="foodAdviceBurittoIngredients-list-item47">Cheddar cheese
        <span class="item-note">125 mL</span>
      </ion-item>
      <ion-item id="foodAdviceBurittoIngredients-list-item44">Tomato salsa
        <span class="item-note">125 mL</span>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.foodAdviceWIT()" id="foodAdviceBurittoIngredients-button98" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</a>
    <a ui-sref="tabsController.foodAdvice()" id="foodAdviceBurittoIngredients-button122" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block icon ion-android-arrow-forward bottom30"> Back</a>
  </ion-content>
</ion-view>