<ion-view title="Food - Advice" hide-nav-bar="true" id="page3">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodAdvice-button-bar14" class="button-bar nomargin">
      <a ui-sref="tabsController.foodYourList()" id="foodAdvice-button51" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline nomargin">Your list</a>
      <button id="foodAdvice-button52" style="font-weight:600;font-size:12px;" class="button button-calm button-block icon-left ion-android-apps nomargin">Advice</button>
      <a ui-sref="tabsController.foodChances()" id="foodAdvice-button53" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell nomargin">Chances</a>
    </div>
    <a ui-sref="tabsController.foodTips()" id="foodAdvice-button165" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block icon ion-android-attach nobottom"> Tips</a>
    <h5 id="foodAdvice-heading15" style="color:#000000;"></h5>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider9" delegate-handle="slider9" id="foodAdvice-slider9" style="width:100%;height:76%;" class="notop">
      <ion-slide-page id="foodAdvice-slide215" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;" class="notop">
        <div class="list card" id="foodAdvice-card21">
          <ion-item id="foodAdvice-list-item28" ui-sref="tabsController.foodAdviceSpaghettiPrices()">Spaghetti
            <span class="item-note">1.33$</span>
          </ion-item>
          <div class=" item item-image">
            <a style="display:block;" ui-sref="tabsController.foodAdviceSpaghettiIngredients()">
              <img src="img/hu6BKW7rTmeh2YZaAFUq_Spaghetti.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
            </a>
          </div>
          <ion-item class="item-icon-left balanced" id="foodAdvice-list-item31" ui-sref="tabsController.foodAdviceSpaghettiMap()">
            <i class="icon ion-android-share"></i>Check the shop - 0,4mi</ion-item>
        </div>
      </ion-slide-page>
      <ion-slide-page id="foodAdvice-slide26" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;" class="notop">
        <div class="list card" id="foodAdvice-card26">
          <ion-item id="foodAdvice-list-item11" ui-sref="tabsController.foodAdviceBurittoPrices()">Black bean burritos
            <span class="item-note">1.33$</span>
          </ion-item>
          <div class=" item item-image">
            <a style="display:block;" ui-sref="tabsController.foodAdviceBurittoIngredients()">
              <img src="img/ezNEwRcPQFKZgVyaQOAZ_Egg_and_black_bean_burritos.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
            </a>
          </div>
          <ion-item class="item-icon-left balanced" id="foodAdvice-list-item25" ui-sref="tabsController.foodAdviceBurittoMap()">
            <i class="icon ion-android-share"></i>Check the shop - 0,3mi</ion-item>
        </div>
      </ion-slide-page>
      <ion-slide-page id="foodAdvice-slide28" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;" class="notop">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="list card" id="foodAdvice-card28">
                <ion-item id="foodAdvice-list-item27" ui-sref="tabsController.foodAdvicePotatoPrices()">Potato &amp; chicken curry
                  <span class="item-note">1.33$</span>
                </ion-item>
                <div class=" item item-image">
                  <a style="display:block;" ui-sref="tabsController.foodAdvicePotatoIngredients()">
                    <img src="img/Sn1Hw5oQkCotJOXy3vRE_Sweet_potato__chicken_curry.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
                  </a>
                </div>
                <ion-item class="item-icon-left balanced" id="foodAdvice-list-item29">
                  <i class="icon ion-android-share"></i>Check the shop - 0,6mi</ion-item>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <a ui-sref="tabsController.foodAdviceWIT()" id="foodAdvice-button70" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</a>
  </ion-content>
</ion-view>