<ion-view title="Food - Tips" hide-nav-bar="true" id="page38">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodTips-button-bar33" class="button-bar">
      <a ui-sref="tabsController.foodYourList()" id="foodTips-button156" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline">Your list</a>
      <a ui-sref="tabsController.foodAdvice()" id="foodTips-button157" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-android-apps">Advice</a>
      <a ui-sref="tabsController.foodChances()" id="foodTips-button158" style="font-weight:600;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell">Chances</a>
    </div>
    <button id="foodTips-button159" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-small button-block icon ion-android-attach"> Tips</button>
    <h5 id="foodTips-heading42" style="color:#000000;text-align:center;">Tip of the day:</h5>
    <a ui-sref="tabsController.foodTipsWIT()" id="foodTips-button160" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</a>
  </ion-content>
</ion-view>