<ion-view title="Food - Advice - Potato - prices" hide-nav-bar="true" id="page34">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodAdvicePotatoPrices-button-bar29" class="button-bar nomargin">
      <a ui-sref="tabsController.foodYourList()" id="foodAdvicePotatoPrices-button134" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline nomargin">Your list</a>
      <button id="foodAdvicePotatoPrices-button135" style="font-weight:600;font-size:12px;" class="button button-calm button-block icon-left ion-android-apps nomargin">Advice</button>
      <a ui-sref="tabsController.foodChances()" id="foodAdvicePotatoPrices-button136" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell nomargin">Chances</a>
    </div>
    <a ui-sref="tabsController.foodTips()" id="foodAdvicePotatoPrices-button178" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block icon ion-android-attach"> Tips</a>
    <h5 id="foodAdvicePotatoPrices-heading37" style="color:#000000;"></h5>
    <h4 id="foodAdvicePotatoPrices-heading38" style="color:#000000;text-align:center;">Prices</h4>
    <ion-list id="foodAdvicePotatoPrices-list17">
      <ion-item id="foodAdvicePotatoPrices-list-item65">Eggs
        <span class="item-note">8 pieces</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoPrices-list-item66">Grain flour tortillas
        <span class="item-note">4 pieces</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoPrices-list-item67">Black beans
        <span class="item-note">1 cup</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoPrices-list-item69">Fresh cilantro
        <span class="item-note">30 mL</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoPrices-list-item70">Cheddar cheese
        <span class="item-note">125 mL</span>
      </ion-item>
      <ion-item id="foodAdvicePotatoPrices-list-item71">Tomato salsa
        <span class="item-note">125 mL</span>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.foodAdviceWIT()" id="foodAdvicePotatoPrices-button137" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block icon ion-help bottom0"> What is that</a>
    <a ui-sref="tabsController.foodAdvice()" id="foodAdvicePotatoPrices-button138" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block icon ion-android-arrow-forward bottom30"> Back</a>
  </ion-content>
</ion-view>