<ion-view title="Food - Your list - Ingredient - WIT" hide-nav-bar="true" id="page40">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="foodYourListIngredientWIT-button-bar36" class="button-bar nomargin">
      <a ui-sref="tabsController.foodYourList()" id="foodYourListIngredientWIT-button192" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-list-outline nomargin">Your list</a>
      <button id="foodYourListIngredientWIT-button193" style="font-weight:600;font-size:12px;" class="button button-calm button-block icon-left ion-android-apps nomargin">Advice</button>
      <a ui-sref="tabsController.foodChances()" id="foodYourListIngredientWIT-button194" style="font-weight:lighter;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-ios-bell nomargin">Chances</a>
    </div>
    <a ui-sref="tabsController.foodTips()" id="foodYourListIngredientWIT-button195" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block icon ion-android-attach"> Tips</a>
    <div id="foodYourListIngredientWIT-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This panel allow you to check prices fordishe</p>
    </div>
    <a ui-sref="tabsController.foodAdvice()" id="foodYourListIngredientWIT-button196" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-small button-block icon ion-heart bottom0"> I understand</a>
  </ion-content>
</ion-view>